{% extends 'base.html' %}

{% block content %}

    <h1 class="display-5 m-4">Летим {{ departure }}</h1>
    <p class="m-4">Найдено {{ tours_info.count }} туров,
        от {{ tours_info.start_price }} до {{ tours_info.end_price }}
        и от {{ tours_info.start_night }} ночей до {{ tours_info.end_night }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
        {% for tour in tours %}
            <div class="col-4 px-5">
                <div class="card mb-4">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img class="card-img-top embed-responsive-item" src="{{ tour.picture }}" alt=""/>
                    </div>
                    <div class="card-body">
                        <h2 class="h5 card-title">{{ tour.title }}</h2>
                        <p class="card-text card-block">{{ tour.description }}</p>
                        <a href="/tour/{{ tour.id }}" class="btn btn-sm btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}